body {
    background: black;
  }
  
  .clock {
    border: #17D4FE solid ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
    padding: 20px 20px 20px 20px;
  }